.signup-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    text-align: center;
    /* border: 1px solid black; */
    
}

.signup-card{
    border: 1px solid black;
    width: 25rem;
    /* height: 25rem; */
    padding: 2rem;
    background-color: white;
    
}

.bottom-card{
    margin-top: 2rem;
    border: 1px solid #ccc;
    padding: 1rem;
    width: 25rem;
    margin-bottom: 2rem;
    background-color: white;
}

@media only screen and (max-width:500px) {
    .signup-card{
        width: 100%;
    }
    .bottom-card{
        width: 100%;
    }
}